<!DOCTYPE html>
<html>

<head>
  <title>Grapheditor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" href="/mxgraph-editor/styles/grapheditor.css"/>
  <script type="text/javascript">
    /*<![CDATA[*/
    // Parses URL parameters. Supported parameters are:
    // - lang=xy: Specifies the language of the user interface.
    // - touch=1: Enables a touch-style user interface.
    // - storage=local: Enables HTML5 local storage.
    // - chrome=0: Chromeless mode.
    var urlParams = (function (url) {
      var result = new Object();
      var idx = url.lastIndexOf('?');

      if (idx > 0) {
        var params = url.substring(idx + 1).split('&');

        for (var i = 0; i < params.length; i++) {
          idx = params[i].indexOf('=');

          if (idx > 0) {
            result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
          }
        }
      }

      return result;

    })(window.location.href);

    // Default resources are included in grapheditor resources
    mxLoadResources = false;
    /*]]>*/
  </script>

  <script src="/mxgraph-editor/js/Init.js"></script>
  <script src="/mxgraph-editor/deflate/pako.min.js"></script>
  <script src="/mxgraph-editor/deflate/base64.js"></script>
  <script src="/mxgraph-editor/jscolor/jscolor.js"></script>
  <script src="/mxgraph-editor/sanitizer/sanitizer.min.js"></script>
  <script src="/mxgraph/mxClient.js"></script>
  <script src="/mxgraph-editor/js/EditorUi.js"></script>
  <script src="/mxgraph-editor/js/Editor.js"></script>
  <script src="/mxgraph-editor/js/Sidebar.js"></script>
  <script src="/mxgraph-editor/js/Graph.js"></script>
  <script src="/mxgraph-editor/js/Format.js"></script>
  <script src="/mxgraph-editor/js/Shapes.js"></script>
  <script src="/mxgraph-editor/js/Actions.js"></script>
  <script src="/mxgraph-editor/js/Menus.js"></script>
  <script src="/mxgraph-editor/js/Toolbar.js"></script>
  <script src="/mxgraph-editor/js/Dialogs.js"></script>

  <script src="/elkjs/lib/elk.bundled.js"></script>
  <script src="/js/mxElkLayout.js"></script>
</head>

<body class="geEditor">
  <script src="/js/graphEditor.js"></script>
</body>

</html>