<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <title>Doc Driven Wiki</title>
   
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body>

  <div class="wiki-app">
    <doc-wiki v-bind:window-width="windowWidth" v-bind:path="path" />
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/markdown-it@8.4.0/dist/markdown-it.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/markdown-it-replace-link@1.0.1/dist/markdown-it-replace-link.min.js"></script>
  <script src="https://unpkg.com/lodash@4.16.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.10.0/js-yaml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
  <script src="https://unpkg.com/vue@2.5.3"></script>
  <script src="https://unpkg.com/v-tooltip"></script>
  <script src="https://cdn.jsdelivr.net/npm/http-vue-loader@1.3.4/src/httpVueLoader.min.js"></script>
  <script src="/monaco-editor/min/vs/loader.js"></script>
  <script src="/vizjs/viz-lite.js"></script>
  <script type="text/javascript">
	mxBasePath = '/mxgraph';
  </script>
  <script src="/mxgraph/mxClient.js"></script>  
  <script type="module" src="/js/wikiApp.js"></script>

</body>

</html>