body {
  font-family: Lato, "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-left: 3%;
  margin-right: 3%;
}

input, select, textarea, button{
  font-family: inherit;
}

header {
  padding-bottom: 1em;
  background: #fafafa;
}

nav, main {
  display: flex;
}

.doc-body {
  /* 
   * explicitly allow content to shrink below their min-content size
   * necessary due to the "implied minimum size of flex items" feature
   */
  min-width: 0;
  flex: 1 1 0;
}

nav {
  flex-direction: column;
  padding-top: 1em;
  margin-right: 10px;
  background: #fafafa;
}

nav > a {
  padding: 5px 15px;
  margin-bottom: 1em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
  color: darkgray;
}

.doc-breadcrumb a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.doc-breadcrumb a:after {
  content: " ";
}
.doc-breadcrumb a:first-child:before {
  content: " » ";
}
.doc-breadcrumb a:last-child:after {
  content: "";
}
.doc-breadcrumb span {
  text-decoration: underline;
}

.doc-header {
  border-bottom: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-title {
  flex: 1 1 0;
}

.doc-metainfo {
  border-bottom: solid 1px;
}

.doc-metainfo-editmode {
  border-bottom: solid 1px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.doc-editable {
  border: dashed 1px grey;
}

.doc-header h3 h2 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doc-content textarea { 
  font-family: inherit; 
  font-size: inherit;
  width: 100%;
  box-sizing: border-box;
}

.doc-toolbar {
  text-align: right;
}

.doc-selectable-disabled {
  margin-right: 0.25em;
  margin-left: 0.25em;
  color: gray;
}

.doc-selectable {
  cursor: pointer;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.doc-selectable:hover {
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.doc-button {
  background-color: #e7e7e7;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.hidden {
  display: none;
}

.doc-block-toolbar {
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doc-block-markdown pre {
  padding: 1em;
  background-color:#f2f4f5;
  border-radius: 3px;
}

.doc-block-code {
  padding: 1em;
  background-color:#f2f4f5;
  border-radius: 3px;
}

.doc-block-editor-config {
  display: flex;
  padding-bottom: 0.5em;
}

.doc-block-editor-config input {
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 3px;
  border: solid 1px black;
}

.doc-block-editor-config-language {
  flex: 0 0 12em;
  margin-right: 0.5em;
}

.doc-block-editor-config-parameter {
  flex: 1 1 0;
}

.doc-block-code pre {
  margin: 0;
}

.doc-markdown {
  flex: 1 1 0;
}

.doc-block-layout {
  display: flex;
}

.monaco-editor.vs .line-numbers {
  color: darkgray ;
}

.doc-project-info {
  border-radius: 3px;
  border: solid 1px black;
  padding: 1em;
  display: flex;
}

.doc-project-info-title {
  flex: 1 1 0;
}

.doc-project-info-title a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

