body {
  font-family: Lato, "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-left: 3%;
  margin-right: 3%;
}

input, select, textarea, button{
  font-family: inherit;
}

header {
  padding-bottom: 1em;
  background: #fafafa;
}

nav, main {
  display: flex;
}

.doc-body {
  /* 
   * explicitly allow content to shrink below their min-content size
   * necessary due to the "implied minimum size of flex items" feature
   */
  min-width: 0;
  flex: 1 1 0;
}

nav {
  flex-direction: column;
  padding-top: 1em;
  margin-right: 10px;
  background: #fafafa;
}

nav > a {
  padding: 5px 15px;
  margin-bottom: 1em;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;
  color: darkgray;
}

.doc-breadcrumb a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.doc-breadcrumb a:after {
  content: " ";
}
.doc-breadcrumb a:first-child:before {
  content: " » ";
}
.doc-breadcrumb a:last-child:after {
  content: "";
}
.doc-breadcrumb span {
  text-decoration: underline;
}

.doc-header {
  border-bottom: solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-title {
  flex: 1 1 0;
}

.doc-metainfo {
  border-bottom: solid 1px;
}

.doc-editable {
  border: dashed 1px grey;
}

.doc-header h3 h2 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doc-content textarea { 
  font-family: inherit; 
  font-size: inherit;
  width: 100%;
  box-sizing: border-box;
}

.doc-toolbar {
  text-align: right;
}

.doc-selectable {
  cursor: pointer;
  margin-right: 0.25em;
  margin-left: 0.25em
}

.doc-selectable:hover {
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.hidden {
  display: none;
}

.doc-block-toolbar {
  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.doc-block-markdown pre {
  padding: 1em;
  background-color:#f2f4f5;
  border-radius: 3px;
}

.doc-block-code {
  padding: 1em;
  background-color:#f2f4f5;
  border-radius: 3px;
}

.doc-block-code pre {
  margin: 0;
}

.doc-markdown {
  flex: 1 1 0;
}

.doc-block-layout {
  display: flex;
}

.monaco-editor.vs .line-numbers {
  color: darkgray ;
}

.doc-project-info {
  border-radius: 3px;
  border: solid 1px black;
  padding: 1em;
  display: flex;
}

.doc-project-info-title {
  flex: 1 1 0;
}

.doc-project-info-title a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

